
/*TYPOGRAPHY*/
body {
	font-family: Helvetica, Arial, sans-serif;
	padding: 2em;
}

h1 {
	font-family: 'Lemonada', cursive;
}

p {
	color: green;
}

p span{
	color: red;
}

/*LAYOUT*/
.box {
	background-color: yellow;
	border: 10px solid #ccc;
	padding: 1em;
	width: 500px;
	margin-bottom: 5em;
	box-sizing: border-box;
}

