
/*TYPOGRAPHY*/
html {
	font-size: 8px;
}
body {
	font-family: Helvetica, Arial, sans-serif;
	padding: 2em;
}

h1 {
	font-family: 'Lemonada', cursive;
	font-size: 3rem;
}

p {
	color: green;
}

p span{
	color: red;
}

/*LAYOUT*/
.box {
	background-color: yellow;
	border: 10px solid #ccc;
	padding: 1em;
	margin: 1em 2em 3em 4em;
	box-sizing: border-box;
}

.column{
	width: 50%;
	float: left;
	padding: 2em;
	box-sizing: border-box;
}

.container {
	border: 10px solid green;
	overflow: auto;
}

.left{
	background: red;
}

.right{
	background: blue;
	color: white;
}
